.App {
  font-family: sans-serif;
  text-align: center;
}


.list-group {
  margin-left: 20%;
  margin-right: 20%;
}

#url {
  text-decoration: none;
}

.amazon {
  color: #04446c;
}

.ebay {
  color: #04753c;
}

.main {
  background-color: #cdc5ac;
}
 

.list-group-item {
  background-color: #f0ad4e;
}
 
.circle {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #f0ad4e;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.msg { 
  margin-top: 200px;
  margin-left: 50%;
  margin-right: 50%;
  text-align: left;
}

#search {
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
}

h3 {
  font-family: "Times New Roman", Times, serif;  
}
 